# My cron in ctrl-c club
# m h  dom mon dow   command
# * 1 * * * curl -L  https://raw.githubusercontent.com/Mark1626/micro-blog/master/twtxt.txt > /home/mark1626/public_html/twtxt.txt
0 0 * * * /home/mark1626/code/today-koan.bash
0 0 * * * rsync -rlp --exclude '.git' /home/mark1626/code/crochet-patterns/ /home/mark1626/public_gemini/crochet/
